{% extends "_base.html" %}

{% block styles %}
{{ block.super }}
<style>
.product-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
</style>
{% endblock styles %}

{% block content %}
    <div class="product-list-header">
        <h1>Products</h1>
        <a class="btn btn-info" href="{% url 'product_add' %}">Add new Product</a>
    </div>

    <ul>
    {% for product in products %}
    <li>
        <a href="{% url 'product_details' pk=product.pk %}">
            {{ product.id }}. {{ product.name }} ({{ product.price }})
        </a>
    </li>
    {% empty %}
    <li>No products added yet!</li>
    {% endfor %}
</ul>
{% endblock content %}