{% extends '_base.html' %}
{% load static crispy_forms_tags %}
{% block title %}{{ product.name }} - {{ block.super }}{% endblock title %}
{% block styles %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'products/styles/comment.css' %}">
{% endblock styles %}
{% block content %}
<div>
    <h1>{{ product.name }}</h1>
    <p>
        <a href="{% url 'product_approve' pk=product.pk %}">Publish</a>
    </p>
    {% if product.user %}
    <h3><small>added by {{ product.user.get_full_name|default:"N/A" }}</small></h3>
    {% endif %}
    {% if user == product.user %}
    <div>
        <a href="{% url 'product_edit' pk=product.pk %}" class="btn btn-dark">Edit</a>
        <a href="" class="btn btn-danger">Delete</a>
    </div>
    {% endif %}
</div>
{% if product.photo %}
<figure>
    <img src="{{ product.photo.url }}" alt="{{ product.name }}" width="400" height="300">
    <figcaption>{{ product.name }}</figcaption>
</figure>
{% endif %}
<p>Price: {{ product.price }}</p>
<p>Description: {{ product.description }}</p>
<form method="post" action="" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Rate</button>
</form>
<hr>
{% for comment in product.comments.all %}
    <div class="product-comment">
        <p>{{ comment.author }}</p>
        <p>Rating: {{ comment.rating }}</p>
        <div>{{ comment.comment }}</div>
    </div>
{% empty %}
    <div>No comments yet!</div>
{% endfor %}
{% endblock content %}